########################################################
#### RecBlast stand-alone requirements for python2 #####
########################################################
uuid
biopython
argparse
mygene