########################################################
#### RecBlast stand-alone requirements for python2 #####
########################################################
uuid
biopython
argparse
requests
mygene
